[submodule "Robot Software/Electron_WebRTC/easyrtc"]
	path = Robot Software/Electron_WebRTC/easyrtc
	url = https://github.com/priologic/easyrtc.git
[submodule "Robot Software/Electron_WebRTC/socket.io-client"]
	path = Robot Software/Electron_WebRTC/socket.io-client
	url = https://github.com/socketio/socket.io-client.git
