<launch>
	<group>
		<arg name="node_name"             value="velocity_smoother"/>
		<arg name="nodelet_manager_name"  value="nodelet_manager"/>
		<arg name="config_file" default="$(find securbot_pkg)/config/$(env SECURBOT_BASE)/smoother.yaml"/>
                <arg name="raw_cmd_vel_topic" default="/cmd_vel"/>
                <arg name="smooth_cmd_vel_topic" default="/smooth_cmd_vel"/>
		<arg name="robot_cmd_vel_topic"   value="robot_cmd_vel"/>

		
		<node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager"/>

		
		<include file="$(find yocs_velocity_smoother)/launch/velocity_smoother.launch">
			<arg name="node_name"             value="$(arg node_name)"/>
		        <arg name="nodelet_manager_name"  value="$(arg nodelet_manager_name)"/>
	                <arg name="config_file"           value="$(arg config_file)"/>
	                <arg name="raw_cmd_vel_topic"     value="$(arg raw_cmd_vel_topic)"/>
		        <arg name="smooth_cmd_vel_topic"  value="$(arg smooth_cmd_vel_topic)"/>
		        <arg name="robot_cmd_vel_topic"   value="$(arg robot_cmd_vel_topic)"/>
			<arg name="odom_topic" value="/rtabmap/odom"/>
	      </include>
	</group>
	<group>
		<remap from="/cmd_vel" to="/smooth_cmd_vel"/>
		<include file="$(find roboclaw)/launch/diffdrive.launch" />
	</group>
</launch>

