<?xml version="1.0" ?>
<launch>
    <remap from="/camera/aligned_depth_to_color/image_raw" to="/camera/depth_registered/image_raw" />
    <remap from="/camera/color/image_raw" to="/camera/rgb/image_rect_color" />
    <remap from="/camera/color/camera_info" to="/camera/rgb/camera_info" />
    <!--remap from="/camera/depth/color/points" to="/pointcloud" /-->

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
          <arg name="serial_no"           default=""/>
          <arg name="json_file_path"      default=""/>
          <arg name="camera"              default="camera"/>

          <arg name="depth_width"         default="1280"/>
          <arg name="depth_height"        default="720"/>
          <arg name="depth_fps"           default="30"/>
          <arg name="enable_depth"        default="true"/>

          <arg name="color_width"         default="1920"/>
          <arg name="color_height"        default="1080"/>
          <arg name="color_fps"           default="30"/>
          <arg name="enable_color"        default="true"/>

          <arg name="enable_infra1"        default="false"/>
          <arg name="enable_infra2"        default="false"/>

          <arg name="enable_sync"           default="true"/>
          <arg name="align_depth"           default="true"/>

          <!--arg name="filters"               default="pointcloud"/-->
          <arg name="clip_distance"         default="-2"/>
          <arg name="linear_accel_cov"      default="0.01"/>
          <arg name="initial_reset"         default="false"/>
          <arg name="unite_imu_method"      default=""/>
    </include>
</launch>
