<launch>
    <remap from="/camera/aligned_depth_to_color/image_raw" to="/camera/depth_registered/image_raw" />
    <remap from="/camera/color/image_raw" to="/camera/rgb/image_rect_color" />
    <remap from="/camera/color/camera_info" to="/camera/rgb/camera_info" />
    <remap from="/camera/depth/color/points" to="/pointcloud" />

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
          <arg name="serial_no"           default=""/>
          <arg name="json_file_path"      default=""/>
          <arg name="camera"              default="camera"/>

          <arg name="fisheye_width"       default="640"/>
          <arg name="fisheye_height"      default="480"/>
          <arg name="enable_fisheye"      default="false"/>

          <arg name="depth_width"         default="1280"/>
          <arg name="depth_height"        default="720"/>
          <arg name="enable_depth"        default="true"/>

          <arg name="infra_width"        default="320"/>
          <arg name="infra_height"       default="240"/>
          <arg name="enable_infra1"       default="false"/>
          <arg name="enable_infra2"       default="false"/>

          <arg name="color_width"         default="1280"/>
          <arg name="color_height"        default="720"/>
          <arg name="enable_color"        default="true"/>

          <arg name="fisheye_fps"         default="30"/>
          <arg name="depth_fps"           default="30"/>
          <arg name="infra_fps"           default="30"/>
          <arg name="color_fps"           default="30"/>
          <arg name="gyro_fps"            default="400"/>
          <arg name="accel_fps"           default="250"/>
          <arg name="enable_gyro"         default="false"/>
          <arg name="enable_accel"        default="false"/>

          <arg name="enable_pointcloud"         default="false"/>
          <arg name="pointcloud_texture_stream" default="RS2_STREAM_COLOR"/>
          <arg name="pointcloud_texture_index"  default="0"/>

          <arg name="enable_sync"           default="false"/>
          <arg name="align_depth"           default="true"/>

          <arg name="filters"               default="pointcloud"/>
          <arg name="clip_distance"         default="-2"/>
          <arg name="linear_accel_cov"      default="0.01"/>
          <arg name="initial_reset"         default="false"/>
          <arg name="unite_imu_method"      default=""/>
    </include>
</launch>
