<launch>
	<group>
		<remap from="base_scan" to="/scan"/>
		<remap from="map" to="/rtabmap/grid_map"/>
		<remap from="/planner_goal" to="/move_base_simple/goal" />
		<remap from="/odom" to="/rtabmap/odom"  />

		<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
			<rosparam file="$(find securbot_pkg)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
			<rosparam file="$(find securbot_pkg)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
			<rosparam file="$(find securbot_pkg)/config/local_costmap_params.yaml" command="load" />
			<rosparam file="$(find securbot_pkg)/config/global_costmap_params.yaml" command="load" /> 
			<rosparam file="$(find securbot_pkg)/config/base_local_planner_params.yaml" command="load" />
		</node>
	</group>
</launch>
