<launch>
    <!-- Robot -->
	<include file="$(find securbot_pkg)/launch/includes/securbot_bringup.launch" />

	<!-- RTAB-Map -->
	<include file="$(find securbot_pkg)/launch/includes/rtabmap_bringup.launch">
		<arg name="localization" value="false" />
	</include>

    <!-- Move_Base navigation -->
    <include file="$(find securbot_pkg)/launch/navigation.launch" />

    <!-- Virtual Map -->
    <include file="$(find securbot_pkg)/launch/virtualMap.launch" />

    <!-- Electron Webrtc -->
    <include file="$(find electron_webrtc)/launch/electron_webrtc.launch" />

    <!-- Waypoint Decode -->
    <include file="$(find securbot_pkg)/launch/patrolExecutive.launch" />
</launch>
