<launch>
    <!-- Default event generators automatically added to configurations. -->
    <group ns="hbba">
        <node name="events_generator" pkg="iw_tools" type="events_generator" machine="pc"/>
        <node name="goto_events_observer" 
              pkg="iw_event_generators" 
              type="goto_events_observer"
              machine="pc">
            <rosparam>
                goal_eps_d: 0.20
                goal_eps_a: 0.10
            </rosparam>
        </node>
    </group>
</launch>
