<launch>
    <group ns="hbba">
        <node name="iw" pkg="iw" type="iw" output="screen" machine="pc"/>
        <node name="iw_translator" pkg="iw_translator" type="iw_translator_node"
            output="screen" machine="pc"/>
        <node name="iw_observer" pkg="iw_observer" type="iw_observer_node"
            output="screen" machine="pc"/>
        <rosparam>
            solver_model:
                solver_log:  false
                solver_sa:   false
                time_limit:   1000
                max_p:        true
        </rosparam>
    </group>
</launch>
