<launch>
    <!-- Frame definition for robot base -->
	<include file="$(find securbot_pkg)/launch/includes/frames/$(env SECURBOT_BASE)_frames.launch" />

	<!-- Robot base -->
	<remap from="/odom" to="/rtabmap/odom" />
	<include file="$(find securbot_pkg)/launch/includes/bases/$(env SECURBOT_BASE)_base.launch" />

	<!-- RGBD camera -->
	<include file="$(find securbot_pkg)/launch/includes/sensors/$(env SECURBOT_CAMERA).launch" />

	<!-- LIDAR -->
	<include file="$(find securbot_pkg)/launch/includes/sensors/$(env SECURBOT_LIDAR).launch" />
</launch>