<launch>

    <node pkg="image_capture" type="virtualcam_node" name="virtualcam_node1" output="screen">
        <param name="image_topic" value="/head_camera_node/image_raw" />        
        <param name="virtual_dev" value="/dev/video2" />     
    </node>
<!--
    <node pkg="image_capture" type="virtualcam_node" name="virtualcam_node2" output="screen">
        <param name="image_topic" value="/nav_camera_node/image_raw" />        
        <param name="virtual_dev" value="/dev/video3" />     
    </node>
-->
</launch>
