<launch>
  <node pkg="cv_camera" type="cv_camera_node" name="nav_camera_node" output="screen">
    <param name="frame_id" value="nav_camera" />
    <param name="rate" value="15.0" />
    <!--param name="image_width" value="640" /-->
    <param name="image_height" value="480" />
    <param name="device_id" value="1" />
    <param name="camera_info_url" value="$(find image_capture)/config/nav_camera.yaml" />
  </node>

  <group ns="nav_camera_node">
  	<node pkg="image_proc" type="image_proc" name="image_proc" output="screen"/>
  </group>
</launch>
