<launch>

    <!--
        Roboclaw 0x80 Index: 0
    -->
    <node pkg="roboclaw" type="roboclaw_node" name="roboclaw" output="screen">
        <param name="~serial_port" value="/dev/ttyACM0"/>
        <param name="~baudrate" value="115200"/>
        <param name="~roboclaws" value="1"/>
    </node>


</launch>
